.switchDelivery{
    width: 4rem;
    height: 2rem;
}

h1{
    width: 100%;
    text-align: center;
}
.comandaPedidoWrapper{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin: 0 0.5% 0.5%;
    border: 2px solid rgb(121, 61, 61);
    padding: 1%;
}

#smallLabel{
    width: 50%;
}

#smallInput{
    width: 10%;
    text-align: center;
}

.platosWrapper{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1%;
}

.comandaHeader{
    padding: 2%;
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;  
    justify-content: center;
    min-height: 100px;
}

.comandaHeader input{
height: 1rem
}

.totalRow{
    font-weight: 900;
    background-color: blue;
}

.comandaHeader label{
    width: 30%;
}

.titleComanda{
background-color: aliceblue;
width: 100%;
min-height: 35%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 1rem;
}

.botonAgregar{
    padding: 0.5rem;
    background-color: darkslategray;
    color: aliceblue;
    font-weight: 600;
    margin: 1rem;

}

.botonesWrapper{
    width: calc(100% - 36%);
    background-color: lightpink;
}

.botones{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1%;
    border-bottom: 5px solid black;
}

.botones button{
    height: 5rem;
    width: 6rem;
    background-color: rgb(211, 172, 102);
}

.botonesPasta{
    background-color: rgba(123, 252, 136, 0.6);
}

.botonesMinutas{
    background-color: rgba(240, 255, 255, 0.867);
}

.botonesParrilla{
    background-color: rgba(167, 132, 199, 0.635);
}

h3{
    width: 100%;
    margin: 0%;
    color: rgba(0, 0, 139, 0.557);
}

