.comandaRow{
    color: black;
    font-weight: 600;
    border: 1px solid black;
}

.comandaRow td{
    border: 1px solid black;
    padding: 5px;
}

.comandaRow button{
    font-weight: 100;
    color: aliceblue;
    background-color: rgb(187, 10, 10);
    border-radius: 6px;
    border: none;
}